<!DOCTYPE html>
<html ng-app="ansible-executor">
<head>
  <title>
    Main Page
  </title>
  <link href='/css/base.css' rel='stylesheet' type='text/css'></link>
</head>
<body>



  <div id="mainwrapper" ng-controller="WrapperCtrl">
    <h1>Ansible Web UI</h1>
    <h3>{{ page.header }}</h3>
    <div class="functionModule" ng-view>
    </div>
  </div> 
  
  <script type="text/ng-template" id="/results.html">
	<div id="resultsBox">	
		<pre>{{ page.results | pretty_json }}</pre>	
		<div ng-show='page.results == undefined'>Loading...</div>
	</div>
	<a href="/sdf"> [ Back ] </a>
  </script> 

  <script type="text/ng-template" id="/runcmd.html">
      <div id="formContainer">
	  	<form method="get"  id="runCommandForm" ng-submit="submitRunnable()">
	        <label>Hosts/Groups: </label>
        	<input type="text" id="hostsInput" value="" ng-model="runnable.hosts"></input>
        	<label>Module: </label>
        	<input type="text" value="" id="moduleInput" ng-model="runnable.module"></input>
        	<label>Attr: </label>
        	<input type="text" id="attrInput" value="" ng-model="runnable.attr"></input>
        	<input type="submit" value="Run" ></input>
      	</form>
	  </div>

      <div class="hintbox" ng-controller="InventoryCtrl">
        <h4>Hosts</h4><br>
        <ul class="hintlist" id="hostlist"  >
          <li ng-repeat="name in hosts" >
			<a href="" ng-click="$parent.setHost(name)"> {{ name }} </a>
		  </li>
        </ul>
      </div>

      <div class="hintbox" ng-controller="InventoryCtrl">
        <h4>Groups</h4><br>
        <ul class="hintlist" id="grouplist" >
          <li ng-repeat="name in groups" >
			<a  href="" ng-click="$parent.setHost(name)"> {{ name }} </a>
		  </li>
        </ul>
      </div>

      <div class="hintbox" ng-controller="ModuleCtrl">
        <h4>Modules</h4><br>
        <span class="filter">
        	<label >Filter: </label>
        	<input type="text" ng-model="module_filter"/>
        </span>
        <ul class="hintlist" id="modulelist" >
        	<li ng-repeat="module in modules | filter:module_filter">
 			  <a href="" ng-click="$parent.setModule(module)"> {{ module }} </a>
  			</li>
        </ul>
      </div>

  </script>
  
  <script src="/js/angular.js"></script>
  <script src="/js/app.js"></script>
  <!--  script src="/js/executioner.js"></script>  -->
</body>
</html>
